

html {
    font-size: 58.5%;
    overflow-x: hidden;
}
  body {
    font-size: 2rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    color: #000; 
    background: #fff;
}
.grid-container {
    max-width: 160rem;
}

/* 
Fonts */

a {
    color: #5aaadf;
    font-weight: 600;
    text-decoration: none;
}

/* Classes: condensed + regular */
body, p, span, a, b, i, em, small, strong, sub, sup, ins, del, mark {
    font-family: 'source code pro', sans-serif;
}
small{color:rgba(0, 0, 0, 0.54)}
.condensed{font-family:Roboto Condensed, roboto, sans-serif;}
.regular{font-family:Roboto, sans-serif;}
/* Defenition of these classes: thin, medium, black, light. See Google Typecast*/
.regular.thin {font-weight:100;}
.regular.medium{font-weight:500;}
.regular.black{font-weight:900;}
.regular.light,.condensed.light{font-weight:300;}
.regular.normal,.condensed.normal{font-weight:400;}
.regular.bold,.condensed.bold{font-weight:700;}


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.8em;
  line-height: 1.3em;
}

h2 {
  line-height: 1.4em;
}
.upper {text-transform: uppercase}

.secondNav-v2 {
  margin-top: 110px;
}

.navigation ul{
    text-transform: uppercase;
    font-family: 'sen', sans-serif !important;
    font-weight: 700; 
    display: flex;
  }
  .nav-megaDropdown-bg ul {
    text-transform: none !important;
    font-size: 90%;
  }


/*
Navigations  */
.navigation, .navigation * {
    transition-delay: 0.0s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87)
}
.navigation .grid-container {
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.nav-secondary { 
    position: static;
    height: 60px;
    width: 100%;
    float: none; 
    border-top: #cfd8dc 20px solid;
    background: #fff;
}
.nav-secondary.secondNav-v2 {
    max-width: 700px;
    margin-left: auto;
    border-top: #cfd8dc 20px solid;
    background: #fff;
}

.nav-secondary .secondary-nav-feild {
    border: #cfd8dc 20px solid;
    border-top: #fff;
    background: #fff;
    padding: 0 1em 1em;
    padding-bottom: 0.5em;
    z-index: 3;
    top: -20px;
    /* width: 300px; */
    position: absolute;
    right: 40px;
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 800;
}

.nav-secondary .secondary-nav-feild a {
    text-decoration: none;
    color: #002e62;
}



.nav-primary {
    position: fixed;
    top: 0; /* required */
    height: 55px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
}

.nav-v2.nav-primary {
    position: sticky;
    position: -webkit-sticky;
    box-shadow: 0px 1px 6px 0px rgba(11,35,61,0);

}

.navigation {
    z-index: 999;
}

.navigation > div {
    padding: 0 1.2em 0;
}

.nav-primary ul.nav-link-section {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.nav-primary .nav-link-section > li {
    text-decoration: none;
    color: #000;
    line-height: 55px;
    display: inline-block;
}
.nav-primary .nav-link-section a {
    text-decoration: none;
    color: #000;
    padding: 0 1em 0;
    transform: translatey(1px);
}

.nav-v2 .nav-megaDropdown-bg {
    background: #fff;
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: -5;
    /* margin-top: -1rem; */
    left: 0;
    position: fixed;
    height: 500px;
    box-shadow: 0px 5px 0px 0px rgba(11,35,61,0);
    transform: translateZ(0) translatex(-100%);
    transition-duration: 0.80s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.25s;
    top: 64px;
   /* opacity: 0;*/
    text-align: left;
    padding-top: 60px;
    overflow-y: hidden;
}
.nav-v2 .nav-megaDropdown {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: -1rem;
    left: 0;
    position: fixed;
    height: 400px;
    top: 120px;
    text-align: left;
    display: block;
}

.nav-megaDropdown-bg {
    width: 100%;
    position: absolute;
    opacity: 1;
    margin-top: -1rem;
    left: 0;
    position: fixed;
    height: 400px;
    display: none;
  }
  .navbar-dropdown-wrap {
    opacity: 0;
    transform: translateX(-20%) scale(1.5);
    transition-duration: 0.80s;
    transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);
    transition-delay: 0.3s;
    
    display: block;
    visibility: unset;
  }
.nav-v2 .navbar-dropdown-wrap {
    transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);
    opacity: 0;
    transform: translatex(-30%) scale(1.5);
    transition-duration: 0.80s;
    transition-delay: 0.6s;
}
  .nav-megaDropdown-bg li {
    line-height: 1.2em;
  }
  .nav-megaDropdown-bg li a:hover {
    color: #B71C1C;
    }
  .nav-megaDropdown-bg {
    background-color: #fff;
    width: 100%;
    visibility: hidden;
    position: absolute;
    z-index: -2;
    margin-top: -1rem;
    left: 0;
    position: fixed;
    height: 400px;
    box-shadow: 0px 5px 0px 0px rgba(11,35,61,0);
    transform: translateY(-400px);
    transition-duration: 0.80s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.25s;
}

.fluid .nav-megaDropdown-bg.hover-area {
    right: 300px
}

.nav-megaDropdown-bg.hover-area {
    z-index: -3 !important;
    transition-duration: 0s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0s;
    box-shadow: none !important;
    background: transparent;
    opacity: 0;
    width: 230px;
    right: 470px;
    left: unset;
}

.nav-megaDropdown-bg .grid-container {
    position: relative;
    display: block;
}
.nav-dropdown {
    display: block !important;
    padding: 0;
}

.nav-megaDropdown-bg li {
    display: block;
    padding: 0;
    line-height: initial;
}
.nav-v2 .dropdown-image {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(140%);
    transition-duration: 0.70s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.45s;
    outline: rgba(0,0,0,0) 0px solid;
    outline-offset: 0;
    opacity: 0;
}
.dropdown-image {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition-duration: 0.70s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.4s;
    outline: rgba(0,0,0,0) 0px solid; 
    outline-offset: 0;
}

.nav-drop-hover-wrapper .dropdown-image {
    transform: translateZ(0) translateY(0);
    outline: rgba(11,35,61,0.05) 40px solid;
    outline-offset: 40px;
    opacity: 1;
}
.nav-v2 .dropdown-image {
    margin-top: 80px;
}
.nav-v2 .fix-shadow {
    display: none !important;
}
.fix-shadow {
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
    height: 55px;
    top: 0px;
    width: 100%;
    display: block;
    opacity: 0;
    transition-duration: 0.80s;
    transition-delay: 1.2s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
    transition-delay: 0.25s;
}
.nav-dropdown li a {
    padding: 0 !important;
}
.navbar-dropdown-wrap {
    padding-left: 6em;
    margin-top: 35px;
}
.navbar-dropdown-wrap h2 {
    margin-block-end: 0.5em;
}

.nav-v2 .links-1 {
    float: left;
    text-align: right;
    /*transform: translateX(15px);*/
    transform: none !important;
    margin-left: 15px !important;
}
/*
.nav-v2 .links-1:hover {
    transform: none !important;
    margin-left: 15px !important;
    transition: none;
}*/
/*.nav-v2 .links-1:hover ~ .links-2 {
    transition: none;
    transform: translateX(170px);
}
*/
ul li:hover > .nav-megaDropdown-bg,
ul li:hover > .fix-shadow,
/*use until fixed
ul li:focus-within > .nav-megaDropdown-bg,
ul li:focus-within > .fix-shadow,
*/
.nav-megaDropdown:hover ~ .nav-megaDropdown-bg {
    visibility: visible;
    transform: translateZ(0) translate(0);
    display: block;
    opacity: 1;
}



/*ul li a:hover + .nav-megaDropdown,
ul li:hover > .nav-megaDropdown,*//*
ul li:focus-within > .nav-megaDropdown,
ul li:focus-within .nav-megaDropdown .navbar-dropdown-wrap {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition-delay: 5s;
}*/

.nav-drop-hover.navbar-dropdown-wrap {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

ul li:hover > .nav-megaDropdown-bg{
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
}

.nav-v2 ul li:hover > .nav-megaDropdown-bg{
    box-shadow: 0px 28px 29px 0px rgba(11,35,61,0.5);
}

ul li ul li {
    clear: both;
    width: 100%;
}
.nav-header-main .logo-space img {
    transform: translateY(-3px) scale(1);
}
.logo-space {
    /*height: 55px;
    transform: translate(0,0);*/
    height: 108px;
    transform: translate(-24px,-22px);
    overflow: visible;
    width: auto;
    float: left;
    /* width: -webkit-fill-available; */
    /* margin-right: 1em; */
}
.logo-space a {
    color: #000;
    border: 0;
    text-decoration: none;
}

.logo-space img, .logo-space svg {
    height: 100%;
    width: auto;
    transform: scale(0.5);
}
.nav-header-main .logo-text {
    opacity: 0;
}
.logo-text {
    padding: 0;
    font-weight: 800;
    transform: translateX(-29px);
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /*overflow: hidden;*/
    font-family: "sen";
    display: inline-flex;
    opacity: 1;
  }
  
  .logo-text .letter {
    display: inline-block;
    line-height: 1em;
    transition: none;
    font-family: 'sen', sans-serif !important;
  }

a.nav-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: #D81B60 10px solid;
    transform: scaleX(0);
    transition-delay: 0.1s;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
}

a.nav-button:hover:before, li.nav-drop-hover-wrapper a.nav-button:before {
    transform: scaleX(0.5);
    
}

a.nav-button {
    position: relative;
    display: inline-grid;
    /* margin: 0; */
    /* padding: 0; */
}
  
.nav-v2 .links-2 {
    /* float: right; */
    text-align: left;
    transform: translateX(185px);
    /* left: 180px; */
}
.nav-v2 .links-1 {
    float: left;
    text-align: right;
    transform: translateX(15px);
}
.nav-v2 .logo-space {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 135px;
    margin: 0;
}


.fix-blink-temp {
    position: fixed;
    background: #fff;
    z-index: -1;
    height: 55px;
    top: 0px;
    width: 100%;
    display: block; 
}
.nav-v2 .fix-blink-temp {
    display: none; 
}
.nav-break {
    height: 55px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding: 0 1em;
}
.nav-v2 .nav-break {
    padding: 0 !important;
}
.nav-header-main .nav-break-its-free-real-estate {
    width: auto;
}
.nav-break-its-free-real-estate {
    width: 100%;
    height: 55px;
    display: inline-flex;
    position: absolute;
    /* display: flex; */
    /* flex-direction: column; */
    flex-wrap: wrap;
}

/*.nav-v2 .nav-breaking-percau {    
}
*/
.nav-breaking-percau {
    width: 660px;
    position: relative;
    display: inline-grid;
    padding: 0;
    flex-grow: 1;
}

.nav-breaking-percau:before, .nav-breaking-percau:after  {
    content: ' ';
    position: absolute;
    height: 55px;
    width: 50px;
    top: 0;
    z-index: 1;
}
.nav-breaking-percau:after {
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
}
.nav-breaking-percau:before {
    right: 0;
    background: linear-gradient(270deg, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
}

/* Nav header main*/
.nav-header-main .nav-breaking-percau  {
    width: 635px;
    /* max-width: 690px; */
    position: relative;
    display: inline-grid;
    padding: 0;
    flex-grow: 0;
}
.nav-primary.navigation.nav-header-main {
    background: none;
    box-shadow: none;
    transform: translateY(3.5rem);
}

.nav-header-main .grid-container.fluid {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
    max-width: 100%;
    margin: 0 auto;
    height: 55px;
}

.navigation-button-wrap {
    position: relative;
    display: inline-flex;
    padding: 0;
    /*flex-grow: 1;*/
    flex-shrink: 1;
    /* width: 100%; */
    /* align-content: flex-end; */
    /* float: right; */
    height: 55px;
    margin-left: auto;
    order: 2;
    background: #ffffff;
}
.nav-header-main  .navigation-button-wrap {
    flex-grow: 0;
    box-shadow: 0px 5px 29px 0px rgba(11,35,61,0.5);
}


header {
    height: 100vh;
    background: #fff;
}

section:first-of-type {
    height: 100vh;
    background: url(../img/bg-test.png);
}


/*
Footer:
*/




/* Media queries:
*/
/* Small only */
@media screen and (max-width: 39.9375em) {
    .links-1, .links-2 {
        display: none !important;
    }

}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* nav break point */
/*before it breaks (normal state)*/
@media only screen and (min-width: 63.9375em) and (max-width: 1128px)  {
    .nav-v2 .links-2 {
        transform: translateX(calc(-962px + 100vw));
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .nav-v2 .nav-breaking-percau {
        display: none;
    }
    .nav-v2 .nav-hamburger {
        display: none;
    }
    .nav-hamburger {
        display: inline-grid;
        float: right;
    }
    .nav-breaking-percau {
        display: inline-grid;
    }
    
}

/* Large and up */
@media screen and (min-width: 64em) {
    .nav-breaking-percau:before {
        background: linear-gradient(270deg, rgba(255,255,255,0) 49%, rgba(255,255,255,0) 100%);
    }
    .nav-breaking-percau:after {
        background: linear-gradient(270deg, rgba(255,255,255,0) 49%, rgba(255,255,255,0) 100%);
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    .nav-break {
        overflow-x: scroll;
    } 
   
    @supports (backdrop-filter: none) {

    }
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
    .nav-break {
        overflow-x: scroll;
    }    
    
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .nav-break {
        overflow-x: hidden;
    }
}
