/*
// html / wrappers
*/
html {
  font-size: 58.5%;
}

html.noScroll {
  overflow: hidden;
}

body {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  background: #fff;
}

.grid-container {
  max-width: 160rem;
}
.grid-container.extended {
  padding: 0 4.5em;
}

figcaption {
  border-left: #01579B solid 12.5px;
  padding-left: 20px;
}

code {
  padding: 0.7em;
  background: #e0e0e0;
  border-radius: 12.5px;
  border-width: 3px;
  border-style: solid;
  border-color: gray;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* 
Fonts 
*/
a {
  color: #5aaadf;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: #2f94d7;
  border-block-end-color: #2f94d7 !important;
}

/* Classes: condensed + regular */
body,
p,
span,
a,
b,
i,
em,
small,
strong,
sub,
sup,
ins,
del,
mark {
  font-family: "Jost", sans-serif;
}

small {
  color: rgba(0, 0, 0, 0.54);
}

.condensed {
  font-family: Roboto Condensed, roboto, sans-serif;
}

.regular {
  font-family: Roboto, sans-serif;
}
.regular.thin {
  font-weight: 100;
}
.regular.medium {
  font-weight: 500;
}
.regular.black {
  font-weight: 900;
}
.regular.light {
  font-weight: 300;
}

/* Defenition of these classes: thin, medium, black, light. See Google Typecast*/
.condensed.light {
  font-weight: 300;
}

.regular.normal,
.condensed.normal {
  font-weight: 400;
}

.regular.bold,
.condensed.bold {
  font-weight: 700;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 2.5rem;
  font-family: "Sen", sans-serif;
  font-weight: 900;
  line-height: 0.925;
  text-transform: uppercase;
}

h1 {
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small,
.text_small {
  font-size: 0.75em;
}

.upper {
  text-transform: uppercase;
}

q {
  font-size: 1.4em;
  font-weight: 600;
  margin-block-start: 1.7em;
  margin-block-end: 1.7em;
  display: block;
  line-height: 1.2em;
  /* mix-blend-mode: exclusion; */
  /* color: rgb(255 197 197); */
}
q:after {
  content: "";
  position: relative;
  display: block;
  background: #01579b;
  height: 15px;
  width: 60px;
  margin-top: 1em;
}

.spoiler {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow-y: hidden;
}

/*
Navigations  
*/
.navigation {
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87);
  z-index: 999;
}
.navigation * {
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87);
}
.navigation .grid-container {
  display: flex;
  justify-content: space-between;
  height: 55px;
  opacity: 0;
}
.navigation > div {
  padding: 0 1.2em 0;
}

.nav-primary {
  position: fixed;
  top: 0;
  /* required */
  height: 55px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.18);
}
.nav-primary .fix-shadow {
  box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
  left: 0;
  position: fixed;
  background: #fff;
  z-index: -1;
  height: 55px;
  top: 0px;
  width: 100%;
  display: block;
  opacity: 0;
  transition-duration: 0.8s;
  transition-delay: 1.2s;
  transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  transition-delay: 0.25s;
}
.nav-primary ul.nav-link-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}
.nav-primary .nav-link-section > li {
  text-decoration: none;
  color: #000;
  line-height: 55px;
  display: inline-block;
}
.nav-primary .nav-link-section a {
  text-decoration: none;
  color: #000;
  padding: 0 1em 0;
  transform: translatey(1px);
}

.nav-megaDropdown-bg {
  width: 100%;
  position: absolute;
  opacity: 1;
  margin-top: -1rem;
  left: 0;
  position: fixed;
  height: 400px;
  display: none;
  background-color: #fff;
  visibility: hidden;
  z-index: -2;
  box-shadow: 0px 5px 0px 0px rgba(11, 35, 61, 0);
  transform: translate(0, -500px);
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  transition-delay: 0.05s;
}
.nav-megaDropdown-bg.hover-area {
  z-index: -3 !important;
  transition-duration: 0s;
  transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  transition-delay: 0s;
  box-shadow: none !important;
  background: transparent;
  opacity: 0;
  width: 230px;
  left: unset;
}
.nav-megaDropdown-bg .grid-container {
  position: relative;
  display: block;
}
.nav-megaDropdown-bg li {
  line-height: 1.2em;
}
.nav-megaDropdown-bg li a {
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0.79, 0.11, 0.28, 0.97);
}
.nav-megaDropdown-bg li a:hover {
  color: #d81b60;
  padding-left: 10px !important;
}

.fluid .nav-megaDropdown-bg.hover-area {
  right: 300px;
}

.nav-dropdown {
  display: block !important;
  padding: 0;
}
.nav-dropdown li a {
  padding: 0 !important;
}

.nav-megaDropdown-bg li {
  display: block;
  padding: 0;
  line-height: initial;
}

.dropdown-image {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  transition-delay: 0.2s;
  outline: rgba(0, 0, 0, 0) 0px solid;
  outline-offset: 0;
}

.nav-drop-hover-wrapper .dropdown-image {
  transform: translateZ(0) translateY(0);
  outline: rgba(11, 35, 61, 0.05) 40px solid;
  outline-offset: 40px;
  opacity: 1;
}
.nav-drop-hover-wrapper a.nav-button:before {
  transform: scaleX(0.5);
}

.navbar-dropdown-wrap {
  padding-left: 6em;
  margin-top: 35px;
  opacity: 0;
  transform: translateX(-20%) scale(1.5);
  transition-delay: 0.1s;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);
  display: block;
  visibility: unset;
}
.navbar-dropdown-wrap h2 {
  margin-block-end: 0.5em;
}

ul li:hover > .nav-megaDropdown-bg,
ul li:hover > .fix-shadow {
  visibility: visible;
  transform: translateZ(0) translate(0);
  display: block;
  opacity: 1;
}

.nav-megaDropdown:hover ~ .nav-megaDropdown-bg {
  visibility: visible;
  transform: translateZ(0) translate(0);
  display: block;
  opacity: 1;
}

/*ul li a:hover + .nav-megaDropdown,
  ul li:hover > .nav-megaDropdown,*/
/*
  ul li:focus-within > .nav-megaDropdown,
  ul li:focus-within .nav-megaDropdown .navbar-dropdown-wrap {
      opacity: 1 !important;
      transform: translateX(0) !important;
      transition-delay: 5s;
  }*/
.nav-drop-hover.navbar-dropdown-wrap {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

ul li:hover > .nav-megaDropdown-bg {
  box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
}

ul li ul li {
  clear: both;
  width: 100%;
}

.nav-header-main .logo-space img {
  transform: translate(10px, -3px) scale(1);
}

.logo-space {
  /*height: 55px;
    transform: translate(0,0);*/
  height: 108px;
  transform: translate(-24px, -22px);
  overflow: visible;
  width: auto;
  float: left;
  /* width: -webkit-fill-available; */
  /* margin-right: 1em; */
}
.logo-space a {
  color: #000;
  border: 0;
  text-decoration: none;
}
.logo-space img,
.logo-space svg {
  height: 100%;
  width: auto;
  transform: translate(0, -3px) scale(0.5);
}

.nav-header-main .logo-text {
  opacity: 0;
}

.logo-text {
  padding: 0;
  font-weight: 800;
  transform: translateX(-29px);
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: "sen", sans-serif;
  display: inline-flex;
  opacity: 1;
}
.logo-text .letter {
  transition: none;
  font-family: "sen", sans-serif !important;
  transform: translateZ(0);
  will-change: transform;
}

a.nav-button {
  position: relative;
  display: block;
}
a.nav-button i {
  line-height: unset;
}
a.nav-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: #0b233d 6px solid;
  transform: scaleX(0) translateY(-24px);
  transition-delay: 0.1s;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
}
a.nav-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
a.nav-button.disabled:after {
  transform: scaleX(0.85) translateY(-24px);
}
a.nav-button.disabled::before {
  cursor: not-allowed;
}
a.nav-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: #D81B60 13px solid;
  transform: scaleX(0);
  transition-delay: 0.1s;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
  cursor: pointer;
}
a.nav-button:hover:before {
  transform: scaleX(0.5);
}
a.nav-button:hover {
  color: rgba(0, 0, 0, 0.459);
}
a.nav-button:active {
  transform: scale(0.8) translateY(3px);
  transition-duration: 50ms;
}

.fix-blink-temp {
  position: fixed;
  background: #fff;
  z-index: -1;
  height: 55px;
  top: 0px;
  width: 100%;
  display: block;
}

.nav-break {
  height: 55px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding: 0 1em;
}

.nav-header-main .nav-break-its-free-real-estate {
  width: auto;
}

.nav-break-its-free-real-estate {
  width: 100%;
  height: 55px;
  display: inline-flex;
  position: absolute;
  /* display: flex; */
  /* flex-direction: column; */
  flex-wrap: wrap;
}

/*.nav-v2 .nav-breaking-percau {    
  }
  */
.nav-breaking-percau {
  width: 670px;
  position: relative;
  display: inline-grid;
  padding: 0;
  flex-grow: 1;
}
.nav-breaking-percau:before {
  content: " ";
  position: absolute;
  height: 55px;
  width: 50px;
  top: 0;
  z-index: 1;
}
.nav-breaking-percau:after {
  content: " ";
  position: absolute;
  height: 55px;
  width: 50px;
  top: 0;
  z-index: 1;
  left: 0;
  background: linear-gradient(90deg, white 49%, rgba(255, 255, 255, 0) 100%);
}
.nav-breaking-percau:before {
  right: 0;
  background: linear-gradient(270deg, white 49%, rgba(255, 255, 255, 0) 100%);
}

/* Nav header main */
.nav-header-main .nav-breaking-percau {
  width: 690px;
  /* max-width: 690px; */
  position: relative;
  display: inline-grid;
  padding: 0;
  flex-grow: 0;
}

.nav-primary.navigation.nav-header-main {
  background: none;
  box-shadow: none;
  transform: translateY(6.7rem);
}

.nav-header-main .grid-container.fluid {
  padding-right: 6.8rem !important;
  padding-left: 6.8rem !important;
  max-width: 100%;
  margin: 0 auto;
  height: 55px;
}

.navigation-button-wrap {
  position: relative;
  display: inline-flex;
  padding: 0;
  /*flex-grow: 1;*/
  flex-shrink: 1;
  /* width: 100%; */
  /* align-content: flex-end; */
  /* float: right; */
  height: 55px;
  margin-left: auto;
  order: 2;
  background: #ffffff;
}

.nav-header-main .navigation-button-wrap {
  flex-grow: 0;
  box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
}

.nav-hamburger {
  background: #A33B81;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 1;
}

.navigation ul {
  text-transform: uppercase;
  font-family: "jost", sans-serif !important;
  font-weight: 700;
  display: flex;
}

.nav-megaDropdown-bg ul {
  text-transform: none !important;
  font-size: 90%;
}

/* 
Header
*/
header {
  min-height: 100vh;
  background: #fff;
  outline: #01579B 33px solid;
  outline-offset: -33px;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
  position: relative;
  transition-property: outline, outline-offset;
}
header #swave-wrapper {
  position: absolute;
  top: 0;
  transition-duration: 0.6s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
  transition-property: filter, opacity, transform;
  overflow: hidden;
  width: 100%;
}
header #swave-wrapper::after {
  content: "";
  height: 20vh;
  width: 100%;
  position: absolute;
  box-shadow: inset 0 -70px 36px -21px #0b233d;
  display: block;
  bottom: 0;
}
header #swave-wrapper .rellax:nth-child(2) {
  position: absolute;
  top: 0;
}
header #swave-wrapper .swaves {
  width: calc(2882px/ 1.5);
  height: auto;
}
header #swave-wrapper #swave-2 {
  transform: translate(-229px, -50px);
}
header #swave-wrapper #swave-1 {
  transform: scale(1.01);
}
header #header-wrapper {
  height: calc(100vh - 66px);
  width: 100%;
  opacity: 1;
  transform: scale(1);
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
  transition-property: transform, opacity;
}
header .border-top-naturalize {
  top: 0;
  position: sticky;
  width: 100%;
  height: 33px;
  background: #01579B;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
  transition-property: background;
}
header .border-bottom-naturalize {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  width: 100%;
  height: 33px;
  background: #01579B;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
  transition-property: background;
}
header .text-wrapper {
  bottom: 0;
  position: absolute;
  padding-left: 7rem;
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
  transition-property: opacity;
}
header .text-wrapper h1 {
  font-size: 11.8em;
  line-height: 0.8em;
  margin-block-end: 0.25em;
  padding-bottom: 4.5rem;
}
header .text-wrapper h1 span > span {
  display: inline-block;
}

.border-bottom-naturalize {
  bottom: 0;
}

button {
  cursor: pointer;
  background: #d81b60;
  color: #fff;
  padding: 0.9em 2em;
  position: relative;
  transform-origin: bottom;
  margin-top: 25px;
  font-weight: 600;
  border-radius: 0.15em;
  border-bottom-color: #A33B81;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0.79, 0.11, 0.28, 0.97);
  outline: 0em #01579b solid;
  outline-offset: 0em;
}
button.small-button {
  padding: 0.3em 1.6em;
  font-weight: 500;
}
button:hover {
  transform: translateY(-10px);
  border-bottom-width: 20px;
  margin-bottom: -10px;
}
button:focus {
  outline: 0.4em #01579b solid;
  outline-offset: 0.3em;
}
button:active {
  transform: translateY(10px);
  border-bottom-width: 0;
  transition-duration: 50ms;
  margin-bottom: 10px;
}

/*
Modals:
*/
.discordmodal {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.9) 95%);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.9) 95%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.9) 95%);
  background: linear-gradient(rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.9) 95%);
}

.modal-bg {
  z-index: 99998;
  height: 100vh;
  width: 100vw;
  display: block;
  cursor: default;
}

.discordmodalwrap {
  background: white;
  position: fixed;
  z-index: 99999;
  top: 0;
  padding: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-body {
  padding: 0 10vh 10vh;
  text-align: center;
}

/*
Footer:
*/
footer {
  background: linear-gradient(-45deg, #D81B60, #A33B81, #01579B, #039BE5) #01579B;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 3em 0;
}
footer a {
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0.79, 0.11, 0.28, 0.97);
  padding-left: 0;
}
footer a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
  transform: translateX(1.2);
  padding-left: 10px;
}
footer ul:hover a {
  color: rgba(0, 0, 0, 0.3);
}

.footer-note {
  padding-top: 2em;
}

footer .fab {
  width: 1.5em;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer a {
  color: rgba(0, 0, 0, 0.5);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 
// nortifications 
*/
.nortification-pullup {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 17px 6px;
  padding: 20px;
  transform: translateX(100%);
  z-index: 999;
  transition-delay: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(1, 0.07, 0.16, 0.98);
}

.nortification-pullup.nort-push-active {
  transform: translateX(0);
}

.nortification-pullup > * {
  padding: 15px 1.2em;
  box-shadow: 0px 0px 0px 0px rgba(11, 35, 61, 0);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 0.04, 0.28, 0.95);
  max-width: 400px;
  line-height: 1.15em;
}

.nortification-pullup small {
  margin-top: 0.6em;
  display: block;
  line-height: 1.1em;
}

.nortification-pullup.nort-push-active > * {
  box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.4);
}

.nortification_success {
  background: #69f0ae;
}

.nortification_warning {
  background: #ffb300;
}

.nortification_normal {
  background: #ffffff;
}

.nortification_error {
  background: #d81b60;
}

body#homepage {
  background: #0b233d;
}

section {
  position: relative;
  padding-top: 6em;
}
section#beta-section {
  height: 100vh;
}
section:not(:first-of-type) {
  background: #fff;
  padding: 3em 0 3em;
  /*background: url(../img/bg-test.png);*/
}
section#who-am-i {
  padding-top: 14em;
  max-height: auto;
  min-height: 100vh;
}
section#lets-talk {
  background: #0b233d;
  color: #fff;
}
section#lets-talk p {
  margin-block-start: 0em;
}
section#lets-talk h2 {
  margin-block-end: 0em;
}
section#featured-work .work-thumb {
  padding-bottom: 3em;
  transition-delay: 0.3s;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.21, 0.88, 0.26, 0.99);
}
section#featured-work .work-thumb h3 {
  margin-block-end: 0em;
}
section#featured-work .work-thumb p {
  margin-block-start: 0.25em;
  margin-block-end: 1em;
}
section#featured-work .work-thumb-wrapper {
  outline: #01589b4b 0 solid;
  transition-delay: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.06, 0.85, 0.05, 1.25);
  transition-property: outline, outline-offset;
  outline-offset: 20px;
  position: relative;
}
section#featured-work .work-thumb-wrapper a {
  color: #000;
}
section#featured-work .work-thumb-wrapper a p {
  color: #62606d;
}
section#featured-work .work-thumb-wrapper .cat-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-60px) scaleY(0);
  overflow: hidden;
  z-index: -1;
  user-select: none;
  transition-duration: 0.125s;
  transition-delay: 0.01s;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 0.96);
  transition-property: transform;
}
section#featured-work .work-thumb-wrapper .categories {
  transform-origin: top center;
  transform: translateY(2em) scaleY(6);
  padding-bottom: 2em;
  padding-left: 1em;
  transition-duration: 0.7s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 0.96);
  transition-property: transform, padding;
  color: #62606d;
}
section#featured-work .work-thumb-wrapper .work-thumb-wrapper-cont {
  transform: scale(1);
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.02, 0.85, 0.32, 1.33);
  transition-property: transform;
}
section#featured-work .work-thumb-wrapper .read-more-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  font-weight: 600;
}
section#featured-work .work-thumb-wrapper .read-more-wrapper > * {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(1, 0.11, 0, 0.96);
  transition-property: transform, outline;
  transition-delay: 0.1s;
  outline: 0 solid #01579b;
  margin: 20px;
  padding: 0.5em 1em;
  transform: translateY(100px) scaleY(0);
  transform-origin: bottom right;
}
section#featured-work .work-thumb-wrapper:hover {
  outline: #01579b 20px solid;
  outline-offset: -20px;
}
section#featured-work .work-thumb-wrapper:hover .cat-wrapper {
  transform: rotate(90deg) translateY(22.5px) scaleY(1);
}
section#featured-work .work-thumb-wrapper:hover .categories {
  transform: translateY(0) scaleY(1);
  padding-bottom: 0em;
}
section#featured-work .work-thumb-wrapper:hover .read-more-wrapper > * {
  transform: translateY(0) scaleY(1);
  outline: 20px solid #01579b;
}
section#featured-work .work-thumb-wrapper:hover .work-thumb-wrapper-cont {
  transform: scale(0.8);
}
section #wai-wrapper {
  background: rgba(11, 35, 61, 0.44);
  /* outline: rgb(255 255 255) 14em solid; */
  backdrop-filter: blur(30px) saturate(150%);
  padding: 5em 4em;
  border-radius: 0.3em;
  background: rgba(11, 35, 61, 0.44);
  -webkit-backdrop-filter: blur(30px) saturate(150%);
  backdrop-filter: blur(30px) saturate(150%);
  padding: 5em 4em;
  color: #fff;
  border-radius: 0.3em;
}

.beta-on h2 {
  display: none;
}
.beta-on p {
  display: none;
}

#fourOfour main {
  min-height: 93vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 1em;
  font-size: 3rem;
}
#fourOfour main h1 {
  margin-block-start: 0.43em;
}
#fourOfour main a#mehkettle {
  border-block-end: #5aaadf 0.15em solid;
  display: inline-block;
  transform: scale(1);
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87);
}
#fourOfour main a#mehkettle.kettle-active {
  color: #000;
}
#fourOfour main a#mehkettle:active {
  transform: scale(0.7);
}
#fourOfour main a#mehkettle span {
  font-size: 0.2em;
  position: absolute;
}

#mehkettle-rev {
  display: none;
  opacity: 0;
  position: absolute;
  top: 10vh;
  right: 22vw;
  z-index: -3;
  width: 670px;
  height: auto;
  opacity: 0.7;
}

/* Media queries:
*/
/* Small only */
@media screen and (max-width: 39.9375em) {
  a.nav-button:hover:before {
    transform: scaleX(0.25);
  }

  a.nav-button:before {
    transform-origin: left;
  }

  .links-1 {
    margin-top: 25vh !important;
  }

  .links-1,
.links-2 {
    display: block !important;
    width: 100%;
    height: fit-content;
  }
  .links-1 li,
.links-2 li {
    width: 100%;
  }

  .nav-hamburger {
    display: block;
  }

  .nav-break-its-free-real-estate {
    width: 110vw !important;
    height: 100vh;
    background: rgba(224, 224, 224, 0.4);
    backdrop-filter: blur(19px);
    display: flex;
    flex-flow: column;
    padding-left: 2em;
  }

  .active .grid-container .nav-break-its-free-real-estate {
    transform: translate(-85vw, 0rem);
  }

  .active .grid-container.fluid .nav-break-its-free-real-estate {
    transform: translate(-80.8vw, -4.7rem);
  }

  .grid-container .nav-break-its-free-real-estate {
    transform: translate(30vw, 0rem);
  }

  .grid-container.fluid .nav-break-its-free-real-estate {
    transform: translate(35vw, -4.7rem);
  }

  .nav-header-main .navigation-button-wrap {
    box-shadow: none;
  }

  .nav-header-main .nav-breaking-percau {
    width: 50px;
  }

  .nav-header-main .logo-space img {
    transform: translate(0px, -6.5px) scale(0.7);
  }

  .logo-space {
    position: absolute;
    transform: translate(-32px, -22px);
  }

  .nav-break {
    padding: 0;
    overflow: initial !important;
  }

  .nav-primary.navigation.nav-header-main {
    transform: translateY(4.7rem);
  }

  .grid-container.fluid .nav-megaDropdown-bg {
    width: calc(100vw - 1.5em);
  }

  .nav-megaDropdown-bg {
    width: calc(100vw - 2em);
    height: 0;
    margin-bottom: 0.3em;
    position: relative;
    overflow-y: hidden;
    z-index: 0;
    transform: translate(-115%, 0.025em);
    margin-top: 0.025em;
    will-change: transform, height, opacity;
    transition-duration: 0.5s;
    margin-right: 5em;
  }
  .nav-megaDropdown-bg.hover-area {
    height: 0px !important;
  }

  .fix-shadow {
    display: none !important;
  }

  .nav-drop-hover-wrapper .nav-megaDropdown-bg {
    height: 300px;
  }

  .navbar-dropdown-wrap {
    padding-left: 8%;
    transform: translateX(-20%);
    transition-delay: 0.1s;
    will-change: transform, opacity;
  }

  .links-2 {
    margin-top: -2rem !important;
  }

  .nav-header-main .grid-container.fluid {
    padding: 0 4.7rem 0 !important;
  }

  header .text-wrapper {
    padding-left: 4.7rem;
  }

  .navigation-button-wrap {
    background: none;
  }

  .nav-breaking-percau {
    width: 50px !important;
  }
  .nav-breaking-percau:after, .nav-breaking-percau:before {
    display: none;
  }

  .footer-widget {
    margin-top: 50px;
  }

  header {
    outline: #01579B 20px solid;
    outline-offset: -20px;
  }
  header #swave-wrapper svg {
    width: calc(2882px/ 1.5) !important;
    height: auto !important;
  }
  header #header-wrapper {
    height: calc(100vh - 40px);
  }
  header .border-bottom-naturalize,
header .border-top-naturalize {
    height: 20px;
  }
  header h1 {
    font-size: 30vw !important;
    margin-block-end: 11vw !important;
  }
  header span > span {
    overflow: unset !important;
  }
  header .header-letter {
    opacity: 0;
    transform: translateZ(0);
    will-change: transform;
  }
  header #me-mechetle {
    font-size: 0.4em;
  }

  section#who-am-i {
    padding-top: 0em;
    background: #fff;
    height: auto;
    min-height: auto;
  }
  section #wai-wrapper {
    padding: 5em 1em;
    background: transparent;
    color: #000;
  }

  #mehkettle-rev {
    top: 10vh;
    right: 2vw;
    width: 250px;
  }

  .grid-container.extended {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
/* Medium and up */
/* nav break point */
/*before it breaks (normal state)*/
@media only screen and (min-width: 40em) and (max-width: 1300px) {
  header span > span {
    overflow: unset !important;
  }
  header h1 #me-mechetle {
    transition: none;
    font-size: 15vw;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  }
  header h1 .header-letter {
    opacity: 0;
  }
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .nav-breaking-percau {
    display: inline-grid;
  }

  .logo-text {
    display: none;
  }

  section#who-am-i {
    height: auto;
  }
}
/* Large and up */
@media screen and (min-width: 64em) {
  .nav-breaking-percau:before, .nav-breaking-percau:after {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%);
  }
}
@media screen and (min-width: 1921px) {
  #swave-wrapper .swaves {
    width: 100vw !important;
    height: auto !important;
  }
}
/* Large only */
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .nav-break {
    overflow-x: scroll;
  }

  .active .grid-container.fluid .nav-break-its-free-real-estate {
    transform: translate(-73.9vw, -4.7rem);
  }

  .active .grid-container .nav-break-its-free-real-estate {
    transform: translate(-80vw, 0rem);
  }

  #swave-wrapper {
    display: none !important;
  }
  #swave-wrapper svg {
    display: none !important;
  }
}
/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
  .nav-break {
    overflow-x: scroll;
  }
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
  .nav-break {
    overflow-x: hidden;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
