html {
  font-size: 58.5%;
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  background: #fff;
}

.grid-container {
  max-width: 160rem;
}

/* 
Fonts */
a {
  color: #5aaadf;
  font-weight: 600;
  text-decoration: none;
}

/* Classes: condensed + regular */
body, p, span, a, b, i, em, small, strong, sub, sup, ins, del, mark {
  font-family: 'Jost', sans-serif;
}

small {
  color: rgba(0, 0, 0, 0.54);
}

.condensed {
  font-family: Roboto Condensed, roboto, sans-serif;
}

.regular {
  font-family: Roboto, sans-serif;
}

.regular.thin {
  font-weight: 100;
}

.regular.medium {
  font-weight: 500;
}

.regular.black {
  font-weight: 900;
}

.regular.light {
  font-weight: 300;
}

/* Defenition of these classes: thin, medium, black, light. See Google Typecast*/
.condensed.light {
  font-weight: 300;
}

.regular.normal,
.condensed.normal {
  font-weight: 400;
}

.regular.bold,
.condensed.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'sen', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.8em;
  line-height: 1.3em;
}

h2 {
  line-height: 1.4em;
}

.upper {
  text-transform: uppercase;
}

.secondNav-v2 {
  margin-top: 110px;
}

.navigation ul {
  text-transform: uppercase;
  font-family: 'jost', sans-serif !important;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-megaDropdown-bg ul {
  text-transform: none !important;
  font-size: 90%;
}

/*
Navigations  */
.navigation {
  -webkit-transition-delay: 0.0s;
          transition-delay: 0.0s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87);
          transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87);
  z-index: 999;
}

.navigation * {
  -webkit-transition-delay: 0.0s;
          transition-delay: 0.0s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87);
          transition-timing-function: cubic-bezier(0.91, 0.13, 0.06, 0.87);
}

.navigation .grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
  opacity: 0;
}

.navigation > div {
  padding: 0 1.2em 0;
}

.nav-primary {
  position: fixed;
  top: 0;
  /* required */
  height: 55px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
          box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
}

.nav-primary .fix-shadow {
  -webkit-box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
          box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
  left: 0;
  position: fixed;
  background: #fff;
  z-index: -1;
  height: 55px;
  top: 0px;
  width: 100%;
  display: block;
  opacity: 0;
  -webkit-transition-duration: 0.80s;
          transition-duration: 0.80s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
          transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.nav-primary ul.nav-link-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.nav-primary .nav-link-section > li {
  text-decoration: none;
  color: #000;
  line-height: 55px;
  display: inline-block;
}

.nav-primary .nav-link-section a {
  text-decoration: none;
  color: #000;
  padding: 0 1em 0;
  -webkit-transform: translatey(1px);
          transform: translatey(1px);
}

.nav-megaDropdown-bg {
  width: 100%;
  position: absolute;
  opacity: 1;
  margin-top: -1rem;
  left: 0;
  position: fixed;
  height: 400px;
  display: none;
  background-color: #fff;
  visibility: hidden;
  z-index: -2;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(11, 35, 61, 0);
          box-shadow: 0px 5px 0px 0px rgba(11, 35, 61, 0);
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  -webkit-transition-duration: 0.80s;
          transition-duration: 0.80s;
  -webkit-transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
          transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.nav-megaDropdown-bg.hover-area {
  z-index: -3 !important;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
          transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: transparent;
  opacity: 0;
  width: 230px;
  right: 470px;
  left: unset;
}

.nav-megaDropdown-bg .grid-container {
  position: relative;
  display: block;
}

.nav-megaDropdown-bg li {
  line-height: 1.2em;
}

.nav-megaDropdown-bg li a:hover {
  color: #B71C1C;
}

.fluid .nav-megaDropdown-bg.hover-area {
  right: 300px;
}

.nav-dropdown {
  display: block !important;
  padding: 0;
}

.nav-dropdown li a {
  padding: 0 !important;
}

.nav-megaDropdown-bg li {
  display: block;
  padding: 0;
  line-height: initial;
}

.dropdown-image {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 0.70s;
          transition-duration: 0.70s;
  -webkit-transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
          transition-timing-function: cubic-bezier(0.81, 0.01, 0.06, 0.93);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  outline: rgba(0, 0, 0, 0) 0px solid;
  outline-offset: 0;
}

.nav-drop-hover-wrapper .dropdown-image {
  -webkit-transform: translateZ(0) translateY(0);
          transform: translateZ(0) translateY(0);
  outline: rgba(11, 35, 61, 0.05) 40px solid;
  outline-offset: 40px;
  opacity: 1;
}

.nav-drop-hover-wrapper a.nav-button:before {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.navbar-dropdown-wrap {
  padding-left: 6em;
  margin-top: 35px;
  opacity: 0;
  -webkit-transform: translateX(-20%) scale(1.5);
          transform: translateX(-20%) scale(1.5);
  -webkit-transition-duration: 0.80s;
          transition-duration: 0.80s;
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);
          transition-timing-function: cubic-bezier(0.95, 0.01, 0.03, 1.03);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  display: block;
  visibility: unset;
}

.navbar-dropdown-wrap h2 {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

ul li:hover > .nav-megaDropdown-bg,
ul li:hover > .fix-shadow {
  visibility: visible;
  -webkit-transform: translateZ(0) translate(0);
          transform: translateZ(0) translate(0);
  display: block;
  opacity: 1;
}

.nav-megaDropdown:hover ~ .nav-megaDropdown-bg {
  visibility: visible;
  -webkit-transform: translateZ(0) translate(0);
          transform: translateZ(0) translate(0);
  display: block;
  opacity: 1;
}

/*ul li a:hover + .nav-megaDropdown,
ul li:hover > .nav-megaDropdown,*/
/*
ul li:focus-within > .nav-megaDropdown,
ul li:focus-within .nav-megaDropdown .navbar-dropdown-wrap {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition-delay: 5s;
}*/
.nav-drop-hover.navbar-dropdown-wrap {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

ul li:hover > .nav-megaDropdown-bg {
  -webkit-box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
          box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
}

ul li ul li {
  clear: both;
  width: 100%;
}

.nav-header-main .logo-space img {
  -webkit-transform: translate(10px, -3px) scale(1);
          transform: translate(10px, -3px) scale(1);
}

.logo-space {
  /*height: 55px;
  transform: translate(0,0);*/
  height: 108px;
  -webkit-transform: translate(-24px, -22px);
          transform: translate(-24px, -22px);
  overflow: visible;
  width: auto;
  float: left;
  /* width: -webkit-fill-available; */
  /* margin-right: 1em; */
}

.logo-space a {
  color: #000;
  border: 0;
  text-decoration: none;
}

.logo-space img,
.logo-space svg {
  height: 100%;
  width: auto;
  -webkit-transform: translate(0, -3px) scale(0.5);
          transform: translate(0, -3px) scale(0.5);
}

.nav-header-main .logo-text {
  opacity: 0;
}

.logo-text {
  padding: 0;
  font-weight: 800;
  -webkit-transform: translateX(-29px);
          transform: translateX(-29px);
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'sen', sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  opacity: 1;
}

.logo-text .letter {
  display: inline-block;
  line-height: 1em;
  -webkit-transition: none;
  transition: none;
  font-family: 'sen', sans-serif !important;
}

a.nav-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: #D81B60 10px solid;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
          transition-timing-function: cubic-bezier(0.4, 0.6, 0.13, 0.96);
}

a.nav-button:hover:before {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

a.nav-button {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  /* margin: 0; */
  /* padding: 0; */
}

.fix-blink-temp {
  position: fixed;
  background: #fff;
  z-index: -1;
  height: 55px;
  top: 0px;
  width: 100%;
  display: block;
}

.nav-break {
  height: 55px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  padding: 0 1em;
}

.nav-header-main .nav-break-its-free-real-estate {
  width: auto;
}

.nav-break-its-free-real-estate {
  width: 100%;
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  /* display: flex; */
  /* flex-direction: column; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*.nav-v2 .nav-breaking-percau {    
}
*/
.nav-breaking-percau {
  width: 660px;
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-breaking-percau:before {
  content: ' ';
  position: absolute;
  height: 55px;
  width: 50px;
  top: 0;
  z-index: 1;
}

.nav-breaking-percau:after {
  content: ' ';
  position: absolute;
  height: 55px;
  width: 50px;
  top: 0;
  z-index: 1;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(49%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, white 49%, rgba(255, 255, 255, 0) 100%);
}

.nav-breaking-percau:before {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(49%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, white 49%, rgba(255, 255, 255, 0) 100%);
}

/* Nav header main*/
.nav-header-main .nav-breaking-percau {
  width: 675px;
  /* max-width: 690px; */
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.nav-primary.navigation.nav-header-main {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(6.7rem);
          transform: translateY(6.7rem);
}

.nav-header-main .grid-container.fluid {
  padding-right: 6.8rem !important;
  padding-left: 6.8rem !important;
  max-width: 100%;
  margin: 0 auto;
  height: 55px;
}

.navigation-button-wrap {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  /*flex-grow: 1;*/
  -ms-flex-negative: 1;
      flex-shrink: 1;
  /* width: 100%; */
  /* align-content: flex-end; */
  /* float: right; */
  height: 55px;
  margin-left: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #ffffff;
}

.nav-header-main .navigation-button-wrap {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
          box-shadow: 0px 5px 29px 0px rgba(11, 35, 61, 0.5);
}

/* Header
*/
header {
  height: 100vh;
  background: #fff;
  outline: #01579B 33px solid;
  outline-offset: -33px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
          transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
}

header .border-top-naturalize {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 33px;
  background: #01579B;
}

header .border-bottom-naturalize {
  bottom: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 33px;
  background: #01579B;
}

header .text-wrapper {
  bottom: 0;
  position: absolute;
  padding-left: 6.6rem;
}

header .text-wrapper h1 {
  font-size: 11.8em;
  line-height: 0.8em;
  -webkit-margin-after: 0.25em;
          margin-block-end: 0.25em;
}

header .text-wrapper h1 span > span {
  display: inline-block;
  overflow: hidden;
}

section:first-of-type {
  height: 100vh;
  /*background: url(../img/bg-test.png);*/
}

.test {
  background: #000;
}

/*
Footer:
*/
footer {
  background: linear-gradient(-45deg, #D81B60, #A33B81, #01579B, #039BE5);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  padding: 3em 0;
}

footer a {
  -webkit-transition-duration: 0.12s;
          transition-duration: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.79, 0.11, 0.28, 0.97);
          transition-timing-function: cubic-bezier(0.79, 0.11, 0.28, 0.97);
  padding-left: 0;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
  -webkit-transform: translateX(1.2);
          transform: translateX(1.2);
  padding-left: 10px;
}

footer ul:hover a {
  color: rgba(0, 0, 0, 0.3);
}

.footer-note {
  padding-top: 2em;
}

footer .fab {
  width: 1.5em;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media queries:
*/
/* Small only */
@media screen and (max-width: 39.9375em) {
  .links-1,
  .links-2 {
    display: none !important;
  }
  .nav-header-main .navigation-button-wrap {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navigation-button-wrap {
    background: none;
  }
  .nav-breaking-percau {
    width: 50px;
  }
  .nav-breaking-percau:after, .nav-breaking-percau:before {
    display: none;
  }
  .footer-widget {
    margin-top: 50px;
  }
  .nav-header-main .nav-breaking-percau {
    width: 50px;
  }
  header h1 {
    font-size: 30vw !important;
    -webkit-margin-after: 11vw !important;
            margin-block-end: 11vw !important;
  }
  header span > span {
    overflow: unset !important;
  }
  header .header-letter {
    opacity: 0;
  }
  header #me-mechetle {
    font-size: 0.40em;
  }
}

/* Medium and up */
/* nav break point */
/*before it breaks (normal state)*/
@media only screen and (min-width: 40em) and (max-width: 1300px) {
  header span > span {
    overflow: unset !important;
  }
  header h1 #me-mechetle {
    font-size: 15vw;
  }
  header h1 .header-letter {
    opacity: 0;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .nav-hamburger {
    display: -ms-inline-grid;
    display: inline-grid;
    float: right;
  }
  .nav-breaking-percau {
    display: -ms-inline-grid;
    display: inline-grid;
  }
  .logo-text {
    display: none;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .nav-breaking-percau:before, .nav-breaking-percau:after {
    background: -webkit-gradient(linear, right top, left top, color-stop(49%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%);
  }
}

/* Large only */
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .nav-break {
    overflow-x: scroll;
  }
}

/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
  .nav-break {
    overflow-x: scroll;
  }
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
  .nav-break {
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=stylesheet.css.map */