#work {
    .image-header {
        height: 60vh
    }
    .header-post-image {
        overflow: hidden;
    }

    .grid-container.full {
        padding-left: 180px;

        .full {
            margin-left: -1.25em;
            padding-right: 1.8rem;
            padding-left: 0;
        }
    }

    #work-header{
        min-height: initial;
        background: #fff;
        outline: none;
        outline-offset: 0;

        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);

        position: relative;

        transition-property: none;

        .grid-x {
            position: relative;
        }

        h1 {
            font-size: 7.209em;
            z-index: 1;
        }
    } 
    .header-post-image {
        //border-right: 33px solid #fff;
        padding-right: 33px;
        padding-top: 33px;
    }
    #header-work-content {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .title, .card-wrapper {
        margin-top: 33px;
        height: 60vh;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-left: 2.5em;
        padding-bottom: 2.5em;
    }

    .card-wrapper  {
        z-index: 100;
    }

    .card {
        margin-bottom: 5em;

        &#pinned-card {
            z-index: 51;
            transform: translateY(195px);
            box-shadow: 0 5px 69px 0px rgb(11 35 61 / 29%);
            background: #fff;
            padding: 1.75em;
            margin-bottom: 0;
        }

        h3 {
            margin-block-end: 0em;
        }

        p {
            margin-block-start: 0.25em;
            margin-block-end: 1em;
            color: #62606d;
            font-weight: 600;
        }
    }

    #list-projects {
        margin-top: 1.5em;

        .design-field {
            margin-bottom: 4em;
        }
    }

    .settings-row {
        //height: 0px;
        padding: 1.25em 0;
        background: #fff;
        position: sticky;
        top: 55px;
        padding-right: 1.25em;
        z-index: 50;
        margin-top: 1em;

        //backdrop-filter: blur(22px);
        //box-shadow: inset 0px 4px 50px 2px rgb(255 255 255);
        
        &.tags {
            margin-top: -14.5px;
            background: none;
            top: 70px;

            //box-shadow: none;
            // backdrop-filter: none;

            &:first-of-type {
                margin-top: calc(-120px - 1em);
            }

            ul {
                float: left;
                margin: 0;
                padding: 0;
                padding-left: 1.25em;
                margin-bottom: 2em;

                li {
                    display: inline-block;

                }

                a {
                    padding: 0.3em 0.75em;
                    background: #eceff1;
                    margin-right: 0.175em;
                    border-radius: 0.4em;
                    color: #707172;

                    &:hover {
                        background: #ccd7df;
                    }
                }
            }

        }

        > * {
            float: right;
        }
        .mchtl-select {
            margin-left: 0.7em;
        }
    }

    .nav-sidebar-wrap {
        //font-size: 0.5em;
        position: fixed;
        z-index: 100;
        //width: 180px;

        width: 19.5rem;
        padding-left: 6.85rem!important;

       /*  display: flex;
        flex-direction: column;
        align-items: flex-end; */

        .nav-sidebar {
            $width: 75px;
            // $width: 8.125rem;

            width: $width;
            //margin-right: 2em;
            margin-top: 9.4em;

            #indicator-marker {
                position: absolute;
                top: 0;
                height: 103px;
                background-color: #ccd7df;
                transition-duration: 0.25s;
                transition-timing-function: cubic-bezier(0.4,0.6,0.13,0.96);
                transition-delay: 0.01s;
                z-index: -1;
                border-radius: .4em;

                /* &.echo {
                    //background: #01579b;
                    z-index: -2;
                    transition-delay: 0.05s;
                } */
            }   
    
            ul {
                padding: 0;
                width: $width;

                li {
                    text-decoration: none;
                    list-style-type: none;
                    text-align: center;
                    margin-bottom: 1.5em;
                    transition-duration: 0.35s;
                    transition-delay: 0.1s;
                    transition-timing-function: cubic-bezier(0.4,0.6,0.13,0.96);

                    a {
                        color: #62606d;
                    }

                    &.active {
                        //background: red;
                        transform: scale(0.75);
                    }
                }
            }
    
            .nav-icon {
                width: $width;
                height: $width;
                background: #62606d67;
                
            }
        }
    }

    #lets-talk {
        padding: 6em 0;
    }

    #lets-talk, footer {
        z-index: 101;
        position: relative;
    }

}

.line-breaker:before {
    content: "";
    position: relative;
    display: block;
    background: #01579b;
    height: 15px;
    width: 60px;
    margin-top: 1em;
}