/* Media queries:
*/
// @media screen and (max-width: 39.9375em) (hover: none) and (pointer: coarse) {
//   .nav-megaDropdown-bg {
//     transition-delay: 0s;
//     transition-duration: 0.6s;    
//   }
// 
// }     


@use "../base/variables" as *;

/* Small only */
@media screen and (max-width: 39.9375em) {

    a.nav-button:hover:before {
      transform: scaleX(0.25);
    }
  
    a.nav-button:before {
      transform-origin: left;
    }
  
    .links-1 {
      margin-top: 25vh !important;
    }
  
    .links-1,
    .links-2 {
      display: block !important;
      width: 100%;
      height: fit-content;
  
      li {
        width: 100%;
      }
    }
  
    .nav-hamburger {
      display: block;
    }
  
    .nav-break-its-free-real-estate {
      width: 110vw !important;
      height: 100vh;
      background: rgba(224, 224, 224, 0.4);
      backdrop-filter: blur(19px);
      display: flex;
      flex-flow: column;
      padding-left: 2em;
      //overflow-x: hidden;
    }
  
    .active .grid-container .nav-break-its-free-real-estate {
      transform: translate(-85vw, 0rem);
    }
  
    .active .grid-container.fluid .nav-break-its-free-real-estate {
      transform: translate(-80.8vw, -4.7rem);
    }
  
    .grid-container .nav-break-its-free-real-estate {
      transform: translate(30vw, 0rem);
    }
  
    .grid-container.fluid .nav-break-its-free-real-estate {
      transform: translate(35vw, -4.7rem);
    }
  
    .nav-header-main .navigation-button-wrap {
      box-shadow: none;
    }
  
    .nav-header-main .nav-breaking-percau {
      width: 50px;
    }
  
    .nav-header-main .logo-space img {
      transform: translate(0px, -6.5px) scale(0.7);
    }
  
    .logo-space {
      position: absolute;
      transform: translate(-32px, -22px);
    }
  
    .nav-break {
      padding: 0;
      overflow: initial !important;
    }
  
    .nav-primary.navigation.nav-header-main {
      transform: translateY(4.7rem);
    }
  
    .grid-container.fluid .nav-megaDropdown-bg {
      width: calc(100vw - 1.5em);
    }
  
    .nav-megaDropdown-bg {
      width: calc(100vw - 2em);
      height: 0;
      margin-bottom: 0.3em;
      position: relative;
      overflow-y: hidden;
      z-index: 0;
      transform: translate(-115%, 0.025em);
      margin-top: 0.025em;
      will-change: transform, height, opacity;
      transition-duration: 0.5s; //should prob disable
      margin-right: 5em;
  
      &.hover-area {
        height: 0px !important;
      }
    }
  
    .fix-shadow {
      display: none !important;
    }
  
    .nav-drop-hover-wrapper {
      .nav-megaDropdown-bg {
        height: 300px;
      }
    }
  
    .navbar-dropdown-wrap {
      padding-left: 8%;
      transform: translateX(-20%);
      // transition-delay: 0.2s;  
      transition-delay: 0.1s;
      will-change: transform, opacity;
    }
  
    .links-2 {
      margin-top: -2rem !important;
    }
  
  
  
    .nav-header-main .grid-container.fluid {
      padding: 0 4.7rem 0 !important;
    }
  
    header .text-wrapper {
      padding-left: 4.7rem;
    }
  
    .navigation-button-wrap {
      background: none;
    }
  
    .nav-breaking-percau {
  
      &:after,
      &:before {
        display: none;
      }
  
      width: 50px !important;
    }
  
    .footer-widget {
      margin-top: 50px;
    }
  
    header {
      outline: #01579B 20px solid;
      outline-offset: -20px;

      #swave-wrapper {
        svg {
          width: calc(2882px/ 1.5) !important;
          height: auto !important;
        }
      }
  
      #header-wrapper {
        height: calc(100vh - 40px);
      }
  
      .border-bottom-naturalize,
      .border-top-naturalize {
        height: 20px;
      }
  
      h1 {
        font-size: 30vw !important;
        margin-block-end: 11vw !important;
      }
  
      span>span {
        overflow: unset !important;
      }
  
      .header-letter {
        opacity: 0;
        transform: translateZ(0);
        will-change: transform;
      }
  
      #me-mechetle {
        font-size: 0.40em;
  
      }
    }
    
    section{
      &#who-am-i {
        padding-top: 0em;
        background: #fff;
        height: auto;
        min-height: auto;
      }
      #wai-wrapper {
        padding: 5em 1em !important;
        background: transparent;
        color: #000;
      }
    }

    #mehkettle-rev {
      top: 10vh;
      right: 2vw;
      width: 250px;
    }

    .grid-container.extended {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }

    // .work-thumb {
    //   transition-delay: 0s;
    //   transition-duration: 0s;
    // }
    header .text-wrapper h1.post {
      font-size: 4.6em !important;
    }

    #contact {
      #contact-letter {
        margin-bottom: 0.5em !important;
      }
      button[type=submit] {
        position: static !important;
      }      
      .post-details {
        padding-left: 0;
        text-align: center;
      }
    }


  }
  
  /* Medium and up */
  @media screen and (min-width: 40em) {}
  
  /* nav break point */
  /*before it breaks (normal state)*/
  @media only screen and (min-width: 40em) and (max-width: 1300px) {
    header {
      span>span {
        overflow: unset !important;
      }
  
      h1 {
        #me-mechetle {
          transition: none;
          font-size: 15vw;
          transition-duration: 0.7s;
          transition-timing-function: $easing-main;
        }
  
        .header-letter {
          opacity: 0;
        }
      }
    }
    header .text-wrapper h1.post {
      font-size: 4.6em;
    }
  }
  
  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    //  .nav-v2 {
    //
    //    .nav-breaking-percau,
    //    .nav-hamburger {
    //      display: none;
    //    }
    //  }

    .grid-container.extended {
      padding: 0px 1.8em;
    }
  
    .nav-breaking-percau {
      display: inline-grid;
    }
  
    .logo-text {
      display: none;
    }
    section{
      &#who-am-i {
        height: auto;
      }
    }

    .lets-talk-wrapper {
      text-align: right;
    }

  
  }
  
  /* Large and up */
  @media screen and (min-width: 64em) {
    .nav-breaking-percau {
  
      &:before,
      &:after {
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%);
      }
    }
    //#swave-wrapper {
    //  svg {
    //    width: 100% !important;
    //    height: 100% !important;
    //  }
    //}

  }

  /* x-Large and up */
  @media screen and (min-width: 120em) {
      html {
        font-size: 0.95vh;
      }
  }

  /* Really low dpi laptop */
  @media screen and (min-width: 64em) and (max-width: 1366px) { 
    // Was originally:
    // (max-width: 74.99875em)

    .grid-container.extended {
      padding: 0px 1.8em;
    }
  }

  /* Potato DPI screen, absolutely low DPI */
  @media screen and (min-height: 480px) and (max-height: 768px) {
    header .text-wrapper h1 {
      font-size: 21.8vh; 
      
    }
    header #swave-wrapper .swaves {
      width: calc(2882px/ 2.13); 
    }
  }

  /* Beyond large */
//  @media screen and (min-width: 1921px) { 
//    #swave-wrapper {
//      .swaves {
//        width: 100vw !important;
//        height: auto !important;
//      }
//
//      // html {
//      //   font-size: 0.95vh;
//      // }
//    } 
//  }
  
  /* Large only */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {}
  
  /* touchscreens */
  @media (hover: none) and (pointer: coarse) {

    .nav-break {
      overflow-x: scroll;
    }
  
    .active .grid-container.fluid .nav-break-its-free-real-estate {
      transform: translate(-73.9vw, -4.7rem);
    }
  
    .active .grid-container .nav-break-its-free-real-estate {
  
      transform: translate(-80vw, 0rem);
    }

    #swave-wrapper {
      display: none !important;
      svg {
        display: none !important;
      }
    }
  
    @supports (backdrop-filter: none) {}
  }

  /* smartphones and has touchscreens */
  @media screen and (max-width: 39.9375em) and (hover: none) and (pointer: coarse) {
    html {
      font-size: 48.5%;
    }
  }

  
  /* stylus-based screens */
  @media (hover: none) and (pointer: fine) {
    .nav-break {
      overflow-x: scroll;
    }
  }
  
  /* mouse, touch pad */
  @media (hover: hover) and (pointer: fine) {
    .nav-break {
      overflow-x: hidden;
    }
  }

  