a.button {
  appearance: button;
  text-decoration: none;
  color: initial;
  line-height: 1em;

  &:hover {
    border-bottom-color: #A33B81 !important;
  }
}

// for row of buttons
.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .inline-buttons.secondary {
    margin-top: 0.8em;
  }

  .inline-buttons {
    ~ .inline-buttons {
      margin-left: 2em;
    }
  }
}

button, a.button {
  //Note to self: This varible affects how high the button goes up when being hovered. 
  $RiseUp: 10px;

  //$RiseUpBringDown: $RiseUp + 17px; //do not change this varible

  cursor: pointer;
  background: #d81b60;
  color: #fff;
  padding: 0.9em 2em;
  position: relative;
  transform-origin: bottom;
  margin-top: 15px + $RiseUp;
  font-weight: 600;

  // border-radius: 0;
  border-radius: 0.15em;

  border-bottom-color: #A33B81;
  border-bottom-style: solid;
  border-bottom-width: $RiseUp;
  
  transition-duration: 0.12s;
  transition-timing-function: cubic-bezier(0.79, 0.11, 0.28, 0.97);

  outline: 0em #01579b solid;
  outline-offset: 0em;

  &.small-button {
    padding: 0.3em 1.6em;
    font-weight: 500;
  }

  &:hover {
    // transform: translateY(-$RiseUp);
    border-bottom-width: $RiseUp * 2;
    // margin-bottom: -$RiseUp;
    margin-top: 15px;

    //&:before {
    //  // transform: scaleY(0.5);
    //  transform: translateY($RiseUpBringDown);
    //}
  }

  &:focus {
    outline: 0.4em #01579b solid;
    outline-offset: 0.3em;
  }

  &:active {
    // transform: translateY($RiseUp);
    border-bottom-width: 0;
    transition-duration: 50ms;
    // margin-bottom: $RiseUp;
    margin-top: 15px + $RiseUp * 2;

    //&:before {
    //  // transform: scaleY(0.5);
    //  // transform: translateY($RiseUpBringDown);
    //  transform: scaleY(0);
    //}
  }

  //&:before {
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: $RiseUpBringDown + 1px;
  //  bottom: 0;
  //  left: 0;
  //  transform: translateY(0.9em);
  //  z-index: -1;
  //  background: #A33B81;
  //  transform-origin: bottom;
  //}

  &:disabled {
    background: #78909C;
    border-bottom-color: #455A64;
    cursor: not-allowed;
    transition-duration: 0.12s;
    transition-timing-function: cubic-bezier(0.79, 0.11, 0.28, 0.97);

    &:hover {
      margin-top: 15px + $RiseUp;
      border-bottom-width: $RiseUp;
    }
  }
}