/* 
Header
*/
header {
  min-height: 100vh;
  background: #fff;
  outline: #01579B 33px solid;
  outline-offset: -33px;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
  position: relative;
  transition-property: outline, outline-offset;

  #swave-wrapper {
    position: absolute;
    top: 0;
    transition-duration: 0.6s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
    transition-property: filter, opacity, transform;
    overflow: hidden;
    width: 100%;

    &::after{
      content:"";
      height: 20vh;
      width: 100%;
      position: absolute;
      // background: linear-gradient(top, rgba(255,255,255,0) 0%, #fff 5%, #fff 100%);
      // box-shadow: inset 0 -53px 35px -35px rgba(11,35,61,0.20);
      // box-shadow: inset 0 -70px 36px -21px rgb(255 255 255); (old) 
      box-shadow: inset 0 -70px 36px -21px rgb(11 35 61);
      
      display: block;
      bottom: 0;
    }

    .rellax:nth-child(2) {
      position: absolute;
      top: 0;
    }

    .swaves {
      // width: calc(2882px/ 1.5);
      width: calc(100vh * 16 / 9 + (22vh));
      height: auto;
    }

    #swave-2 {
      transform: translate(-229px, -50px);
    }
    #swave-1 {
      transform: scale(1.01);
    }
  }

  #header-wrapper {
    height: calc(100vh - 66px);
    width: 100%;
    opacity: 1;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
    transition-property: transform, opacity;
  }

  .border-top-naturalize {
    top: 0;
    position: sticky;
    width: 100%;
    height: 33px;
    background: #01579B;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
    transition-property: background;
  }

  .border-bottom-naturalize {
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 33px;
    background: #01579B;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
    transition-property: background;
  }

  .header-post-image {
    height: 100vh;
    // background:#1e252b;
    overflow: hidden;
/*     background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; */

    border-right: 33px solid rgb(255, 255, 255);  // might remove

    .transition {
      content: ""; 
      height: 100%;
      width: 100%;
      position: absolute;
      display: block;
      z-index: -1;
      top: 0;
      background: #01579b;
      transition-delay: 0.05s;
      transition-duration: 0.95s;
      transition-timing-function: cubic-bezier(0.86, 0.05, 0.15, 0.93);
      opacity: 0;
      transform: translateX(-110%);
      
      &.load-header {
        transform: translate(0);
      }
    }

    > .image-header {
      height: 100%;
      width: 100%;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateX(-150%) scale(1.5);

      transition-delay: 0.2s;
      transition-duration: 1.15s;
      transition-timing-function: cubic-bezier(0.86, 0.05, 0.15, 0.93);

      &.load-header {
        transform: translate(0) scale(1);
      }
    }

  }

  .text-wrapper {
    bottom: 0;
    position: absolute;
    padding-left: 7rem;
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.88, 0.13, 0.13, 0.96);
    transition-property: opacity;

    &.post {
      // margin-top: 10vh;
      padding-left: 0rem;

      .post-details {
        display: grid;
        align-content: end;
        padding-left: 7rem;
      }
      .lower {
        // background: slategrey;
        margin-left: 33px;

        //test
        .video-wrapper {
          width: 100%;
          // height: 30.5%;
          position: sticky;
          top: 9.5em;
          aspect-ratio: 21 / 9;

          .video-overflow {
            height: 100%;
            width: 100%;
            overflow: hidden;
          }

          .video {
            background: #CFD8DC;
            height: 100%;
            width: 100%;
            margin-top: -19px;
            transform: translateY(100%);
            transition-delay: 0.4s;
            transition-duration: 0.95s;
            transition-timing-function: cubic-bezier(0.86, 0.05, 0.15, 0.93);

            &.load-header {
              transform: translateY(0%);
            }

            p {
              // line-height: 450px;
              padding-top: 15%;
              text-align: center;
            }
          }

        }
      }
    }

    h1 {
      font-size: 11.8em;
      line-height: 0.8em;
      margin-block-end: 0.25em;
      padding-bottom: 4.5rem;

      &.post {
        font-size: 7.209em;
      }

      span>span {
        display: inline-block;
        font-family: 'Sen'; // might change it
        letter-spacing: -5px;
        //test
      }
    }
  }
  
  .grid-x > * {
    position: static !important;
    
  }

  #about-me & {
    height: 90vh;
    min-height: auto;
    outline: none;
    background: none;
    margin-bottom: 19em;
    position: relative;
    display: flex;

    .background-header {
      background: linear-gradient(200deg, #039be5 0%, #01579b 35.2%, #d81b60 100%);
      mix-blend-mode: screen;
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0.66;
    }
    .background-header-two {
      height: 100%;
      width: 160rem;
      max-width: 100%;
      position: absolute;
      z-index: -1;
      margin-top: 11%;
      overflow-x: hidden;

      .actual-bg {
        background: linear-gradient(200deg, #039be5 0%, #01579b 35.2%, #d81b60 100%);
        height: 100%;
        width: 100%;
      }
    }
    
    .header-text-wrapper {
      align-self: flex-end;
      padding-right: 6.8rem!important;
      padding-left: 6.1rem!important;
      z-index: 22;
      padding-bottom: 2em;
    }

    h1 {
      text-transform: initial;
      font-size: 7.209em;
      line-height: 1.20149253731;

    }
  }

}
.border-bottom-naturalize {
  bottom: 0;
}

#dywueyuhdw {
  color:black;
}
