/* 
Fonts 
*/
a {
  $link-colour: #5aaadf;
  color: $link-colour;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    $link-hover: darken($link-colour, 10%);
    color: $link-hover;
    border-block-end-color: $link-hover !important;
  }
}

.hover-fx a {
  position: relative;
  z-index: 1;

  &::after {
    content: " ";
    width: 1.85em;
    height: 1.85em;
    background: rgba(255, 255, 255, 0.39);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    user-select: none;
    z-index: -1;
    border-radius: 5em;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.86, 0.05, 0.15, 0.93);
  }

  &:hover::after {
    border-radius: 0.3em;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  &:active::after {
    border-radius: 0.3em;
    width: 112.5%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition-duration: 0.10s;
  }
}

.hover-fx-list li {
  position: relative;
  z-index: 1;

  &::after {
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(204, 215, 223, 0.65);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    user-select: none;
    z-index: -10;
    border-radius: 5em;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.86, 0.05, 0.15, 0.93);
  }

  &:hover::after {
    border-radius: 0.3em;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  &:active {
    & {
      transform: scale(0.6);
      transition-timing-function: cubic-bezier(0.02, 0.68, 0.13, 0.96) !important;
      transition-delay: 0s !important;
      transition-duration: 0.3s !important;
    }

    &::after {
      border-radius: 0.3em;
      width: 112.5%;
      transform: translateX(-50%) translateY(-50%) scale(1.4);
      transition-duration: 0.10s !important;
      transition-timing-function: cubic-bezier(0.86, 0.05, 0.15, 0.93) !important;
    }

  }
}

/* Classes: condensed + regular */
body,
p,
span, //might remove causes problems
a,
b,
i,
em,
small,
strong,
sub,
sup,
ins,
del,
mark {
  font-family: 'Jost', sans-serif;
}

small {
  color: rgba(0, 0, 0, 0.54);
}

.condensed {
  font-family: Roboto Condensed, roboto, sans-serif;
}

.regular {
  font-family: 'Jost', sans-serif;
  text-transform: initial;

  &.thin {
    font-weight: 100;
  }

  &.medium {
    font-weight: 500;
  }

  &.black {
    font-weight: 900;
  }

  &.light {
    font-weight: 300;
  }
}

/* Defenition of these classes: thin, medium, black, light. See Google Typecast*/

.condensed.light {
  font-weight: 300;
}

.regular.normal,
.condensed.normal {
  font-weight: 400;
}

.regular.bold,
.condensed.bold {
  font-weight: 700;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 2.5rem;
  font-family: 'Sen', sans-serif;
  font-weight: 900;
  line-height: 0.925;
  text-transform: uppercase;
}

h1 {
  // margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small,
.text_small {
  font-size: 0.75em;
}

.upper {
  text-transform: uppercase;
}

q {
  font-size: 1.4em;
  font-weight: 600;
  margin-block-start: 1.7em;
  margin-block-end: 1.7em;
  display: block;
  line-height: 1.2em;
  /* mix-blend-mode: exclusion; */
  /* color: rgb(255 197 197); */
  &:after {
    content: "";
    position: relative;
    display: block;
    background: #01579b;
    height: 15px;
    width: 60px;
    margin-top: 1em;
  }
}

.spoiler {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  overflow-y: hidden;
}
