/*
html / wrappers
*/
html {
  font-size: 58.5%;
  overflow-x: hidden;
}

html.noScroll {
  overflow: hidden;
}

body {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  background: #fff;

  &::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #0b233d0f;
    /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d81b60;
    /* color of the scroll thumb */

    border-radius: none;
    /* roundness of the scroll thumb */
    border: none;
    /* creates padding around scroll thumb */
  }
}

.grid-container {
  max-width: 160rem;
}

figcaption {
  border-left: #01579B solid 12.5px;
  padding-left: 20px;
}

code {
  padding: 0.7em;
  background: #e0e0e0;
  border-radius: 12.5px;
  border-width: 3px;
  border-style: solid;
  border-color: gray;
}